.login-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form .tab-content {
    width: 30%;
}
.login-form form {
    width: 100%;
}
.form-btn {
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: var(--green);
    width: 100%;
    padding: 0.5em 2em;
}